software/nodered/flow_lidar_driving.json
[{"id":"4a1d43f4.ff073c","type":"tab","label":"LIDAR Map","disabled":false,"info":""},{"id":"3846208e.4e493","type":"template","z":"4a1d43f4.ff073c","name":"Create the msg.template to use","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<canvas id=\"bubble-chart\" width=\"1\" height=\"1\"></canvas>\n\n<script>\nnew Chart(document.getElementById(\"bubble-chart\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"{{{payload.legend1}}}\",\n          backgroundColor: \"rgba(255, 255, 255, 0.3000)\",\n          borderColor: \"rgba(255,255,255,0.3000)\",\n          data: [\n            {{{payload.data1}}}\n          ]\n        },\n        {\n          label: \"{{{payload.legend2}}}\",\n          backgroundColor: \"rgba(255, 0, 0, 0.3000)\",\n          borderColor: \"rgba(255,0,0,0.3000)\",\n          data: [\n            {{{payload.data2}}}\n          ]\n        }\n      ]\n    },\n    options: {\n        animation: false,\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 255, 255)'\n            }\n        },\n    title: {\n        display: true,\n        text: '{{{payload.title}}}',\n        fontColor: 'rgb(255, 255, 255)'\n      }, scales: {\n        yAxes: [{ \n            ticks: {\n                min: -2.5, // minimum value\n                max: 2.5 // maximum value\n            },\n          scaleLabel: {\n            display: true,\n            labelString: \"Y [m]\",\n            fontColor: 'rgb(255, 255, 255)'\n          }\n        }],\n        xAxes: [{ \n            ticks: {\n                min: -2.5, // minimum value\n                max: 2.5 // maximum value\n            },\n          scaleLabel: {\n            display: true,\n            labelString: \"X [m]\",\n            fontColor: 'rgb(255, 255, 255)'\n          }\n        }]\n      }\n    }\n});\n\n</script>\n","output":"str","x":870,"y":260,"wires":[["11b0ec5.6409c14"]]},{"id":"11b0ec5.6409c14","type":"ui_template","z":"4a1d43f4.ff073c","group":"bfbd69a3.7f8268","name":"LIDAR Plot","order":2,"width":10,"height":10,"format":"","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1150,"y":260,"wires":[[]]},{"id":"60e09bd7.202a54","type":"udp in","z":"4a1d43f4.ff073c","name":"SCUTTLE","iface":"","port":"3555","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":180,"y":260,"wires":[["9125df13.c99f4"]]},{"id":"9125df13.c99f4","type":"function","z":"4a1d43f4.ff073c","name":"Build chart payload","func":"var title = \"LIDAR Data\";\nvar legend1 = \"Points\";\nvar legend2 = \"Robot\";\n\nframe = '{x: 0.5, y: -0.25, r: 5},\\\n{x: 0.5, y: 0.25, r: 5},\\\n{x: -0.1, y: 0.25, r: 5},\\\n{x: -0.1, y: -0.25, r: 5},\\\n{x: 0.2, y: -0.25, r: 5},\\\n{x: 0.2, y: 0.25, r: 5},\\\n{x: 0.5, y: 0.0, r: 5},\\\n{x: -0.1, y: 0.0, r: 5},\\\n{x: 0.05, y: 0.25, r: 5},\\\n{x: 0.05, y: -0.25, r: 5},\\\n{x: 0.35, y: 0.25, r: 5},\\\n{x: 0.35, y: -0.25, r: 5},'\n\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"legend2\" : legend2,\n                \"data1\"   : msg.payload,\n                \"data2\"   : frame\n}\n                \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":260,"wires":[["3846208e.4e493"]]},{"id":"1da24f82.6b2d","type":"udp out","z":"4a1d43f4.ff073c","name":"SCUTTLE","addr":"127.0.0.1","iface":"","port":"3553","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":970,"y":460,"wires":[]},{"id":"1c3cbe79.a74dc2","type":"json","z":"4a1d43f4.ff073c","name":"","property":"payload","action":"str","pretty":true,"x":790,"y":460,"wires":[["1da24f82.6b2d"]]},{"id":"4eccc3ae.acdc0c","type":"function","z":"4a1d43f4.ff073c","name":"selector","func":"msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":460,"wires":[["76cb7248.ff826c"]]},{"id":"76cb7248.ff826c","type":"join","z":"4a1d43f4.ff073c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":460,"wires":[["1c3cbe79.a74dc2"]]},{"id":"d0abcfd1.88188","type":"ui_joystick","z":"4a1d43f4.ff073c","name":"Joystick","group":"bfbd69a3.7f8268","order":22,"width":"12","height":"2","trigger":"all","timeInterval":"50","useThemeColor":false,"color":"#f10404","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":230,"y":460,"wires":[["4eccc3ae.acdc0c"]]},{"id":"bfbd69a3.7f8268","type":"ui_group","name":"LIDAR Plot","tab":"5fb49e.81278b64","order":1,"disp":false,"width":"12","collapse":false},{"id":"5fb49e.81278b64","type":"ui_tab","name":"LIDAR Mapping","icon":"dashboard","disabled":false,"hidden":false}]