software/nodered/flow_gpControl.json
[{"id":"ebcfcbf0.460c38","type":"tab","label":"gpControl","disabled":false,"info":""},{"id":"fcfdab90.e3e398","type":"ui_joystick","z":"ebcfcbf0.460c38","name":"Joystick","group":"b5c05cb9.3a8b7","order":4,"width":"12","height":4,"trigger":"all","timeInterval":"50","useThemeColor":false,"color":"#f10404","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":330,"y":320,"wires":[["c77ef1a0.d1b5d"]]},{"id":"c77ef1a0.d1b5d","type":"function","z":"ebcfcbf0.460c38","name":"selector","func":"msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["a075c338.4c942"]]},{"id":"a075c338.4c942","type":"join","z":"ebcfcbf0.460c38","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":320,"wires":[["dcee2977.ed6268"]]},{"id":"dcee2977.ed6268","type":"json","z":"ebcfcbf0.460c38","name":"","property":"payload","action":"str","pretty":true,"x":890,"y":320,"wires":[["f5207313.822de"]]},{"id":"f5207313.822de","type":"udp out","z":"ebcfcbf0.460c38","name":"SCUTTLE","addr":"127.0.0.1","iface":"","port":"3553","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1070,"y":320,"wires":[]},{"id":"b5c05cb9.3a8b7","type":"ui_group","name":"One-Joystick","tab":"fef5ae81.11f63","order":1,"disp":false,"width":"12","collapse":false},{"id":"fef5ae81.11f63","type":"ui_tab","name":"One-Joystick","icon":"dashboard","order":1,"disabled":false,"hidden":false}]