software/nodered/nodered_color_tracking.json
[
    {
        "id": "4b48be67.37bd9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96c19a0e.75fa98",
        "type": "ui_slider",
        "z": "4b48be67.37bd9",
        "name": "",
        "label": "H Min",
        "tooltip": "",
        "group": "89b0f371.a3e26",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "h_min",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "59500b34.bf7a64",
                "848c53b1.f5ec5"
            ]
        ]
    },
    {
        "id": "506010c2.a3aa9",
        "type": "ui_slider",
        "z": "4b48be67.37bd9",
        "name": "",
        "label": "S Min",
        "tooltip": "",
        "group": "89b0f371.a3e26",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "s_min",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "a13de828.cdcce8",
                "796dcee5.6a306"
            ]
        ]
    },
    {
        "id": "94be63e9.d0307",
        "type": "ui_slider",
        "z": "4b48be67.37bd9",
        "name": "",
        "label": "V Min",
        "tooltip": "",
        "group": "89b0f371.a3e26",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "v_min",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 310,
        "y": 440,
        "wires": [
            [
                "74c236ed.0b8848",
                "7148336c.eb638c"
            ]
        ]
    },
    {
        "id": "bc548590.361d88",
        "type": "ui_slider",
        "z": "4b48be67.37bd9",
        "name": "",
        "label": "H Max",
        "tooltip": "",
        "group": "89b0f371.a3e26",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "d9ba93c4.1fee",
                "68ec454f.f6c88c"
            ]
        ]
    },
    {
        "id": "47fdc7ed.537c78",
        "type": "ui_slider",
        "z": "4b48be67.37bd9",
        "name": "",
        "label": "S Max",
        "tooltip": "",
        "group": "89b0f371.a3e26",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 310,
        "y": 760,
        "wires": [
            [
                "9a799eb2.b1be7",
                "9d344709.834778"
            ]
        ]
    },
    {
        "id": "69559684.3d08e8",
        "type": "ui_slider",
        "z": "4b48be67.37bd9",
        "name": "",
        "label": "V Max",
        "tooltip": "",
        "group": "89b0f371.a3e26",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 310,
        "y": 920,
        "wires": [
            [
                "280aea5d.49e9f6",
                "a4da74a2.5f3dd8"
            ]
        ]
    },
    {
        "id": "59500b34.bf7a64",
        "type": "ui_text",
        "z": "4b48be67.37bd9",
        "group": "aa2556b8.a5ab78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "H Min",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "a13de828.cdcce8",
        "type": "ui_text",
        "z": "4b48be67.37bd9",
        "group": "aa2556b8.a5ab78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "S Min",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "74c236ed.0b8848",
        "type": "ui_text",
        "z": "4b48be67.37bd9",
        "group": "aa2556b8.a5ab78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "V Min",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "d9ba93c4.1fee",
        "type": "ui_text",
        "z": "4b48be67.37bd9",
        "group": "aa2556b8.a5ab78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "H Max",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 490,
        "y": 660,
        "wires": []
    },
    {
        "id": "9a799eb2.b1be7",
        "type": "ui_text",
        "z": "4b48be67.37bd9",
        "group": "aa2556b8.a5ab78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "S Max",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 490,
        "y": 820,
        "wires": []
    },
    {
        "id": "280aea5d.49e9f6",
        "type": "ui_text",
        "z": "4b48be67.37bd9",
        "group": "aa2556b8.a5ab78",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "V Max",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 490,
        "y": 980,
        "wires": []
    },
    {
        "id": "c835a8c9.907ca8",
        "type": "ui_template",
        "z": "4b48be67.37bd9",
        "group": "67c631db.0c84e",
        "name": "Stream",
        "order": 6,
        "width": "6",
        "height": "12",
        "format": "<img src=\"http://192.168.8.1:8090/?action=stream\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 120,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "848c53b1.f5ec5",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/h_min",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 510,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "796dcee5.6a306",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/s_min",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 510,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7148336c.eb638c",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/v_min",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 510,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "68ec454f.f6c88c",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/h_max",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 510,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9d344709.834778",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/s_max",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 510,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a4da74a2.5f3dd8",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/v_max",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 510,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e0928ed.843e07",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/h_min",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 290,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4cc3d35e.3f6b4c",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/s_min",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fad76570.40a7f8",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/v_min",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 290,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "9586a88.6a34c58",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/h_max",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 290,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e34a56.831b08",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/s_max",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 290,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c4c0846b.32f828",
        "type": "file",
        "z": "4b48be67.37bd9",
        "name": "",
        "filename": "/tmp/v_max",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "x": 290,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "fa272bed.19f318",
        "type": "inject",
        "z": "4b48be67.37bd9",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "e0928ed.843e07",
                "96c19a0e.75fa98"
            ]
        ]
    },
    {
        "id": "c152ae28.ed41c",
        "type": "inject",
        "z": "4b48be67.37bd9",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "4cc3d35e.3f6b4c",
                "506010c2.a3aa9"
            ]
        ]
    },
    {
        "id": "7c39e637.7ed1e8",
        "type": "inject",
        "z": "4b48be67.37bd9",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "fad76570.40a7f8",
                "94be63e9.d0307"
            ]
        ]
    },
    {
        "id": "f5be8891.b57db8",
        "type": "inject",
        "z": "4b48be67.37bd9",
        "name": "",
        "topic": "",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "9586a88.6a34c58",
                "bc548590.361d88"
            ]
        ]
    },
    {
        "id": "fdbaf6e8.7dfe68",
        "type": "inject",
        "z": "4b48be67.37bd9",
        "name": "",
        "topic": "",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "f8e34a56.831b08",
                "47fdc7ed.537c78"
            ]
        ]
    },
    {
        "id": "9ef4772e.412658",
        "type": "inject",
        "z": "4b48be67.37bd9",
        "name": "",
        "topic": "",
        "payload": "255",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "c4c0846b.32f828",
                "69559684.3d08e8"
            ]
        ]
    },
    {
        "id": "89b0f371.a3e26",
        "type": "ui_group",
        "z": "",
        "name": "Color Sliders",
        "tab": "5f2d0d15.208674",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "aa2556b8.a5ab78",
        "type": "ui_group",
        "z": "",
        "name": "Values",
        "tab": "5f2d0d15.208674",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "67c631db.0c84e",
        "type": "ui_group",
        "z": "",
        "name": "Stream",
        "tab": "5f2d0d15.208674",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5f2d0d15.208674",
        "type": "ui_tab",
        "z": "",
        "name": "MJPG-Streamer",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
